/*=============================================
=            Bootstrap Overriddes            =
=============================================*/

/**
 *
 * * Global overides
 *
 */

 html {
     scroll-behavior: smooth;  
 }
body {
  font-family: "Montserrat", sans-serif;
  color: var(--gray-dark);
  line-height: 1.5;
  overflow-x: hidden;
}

blockquote {
  font-style: italic;
  line-height: 1.75;
  text-align: center;
}

/**
 *
 * custom scrollbar
 *
 */

html {
  --scrollbarBG: transparent;
  --thumbBG: #90a4ae;
}
*::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/**
 *
 * * Colors
 *
 */

 $pink: #b40772;
 $purple:#662A95;
 $secondary:$purple;
  $bodycolor:var(--gray-darkest);
 
 $primary: $pink;
 $primaryDarker: darken($pink, 5%);
 :root {
   --primary: #{$pink};
   --secondary:#{$secondary};
   --gray-darkest: #212529;
   --black: rgb(3, 3, 3);
   --radiius: 16px;
   --cardBG: #f0f0f0;
   --headingColor: #282931;
 }

/**
 *
 * * Typography
 *
 */
 a {
  color: $primary;
  &:hover, &:focus {
    color:darken($primary, 5%);
  }
}
/**
 *
 ** Button
 *
 */

 button:focus {
  outline: 5px auto $primary;
 }
 .btn {
  --bg: #{$primary};
  --bgHover: #{$primaryDarker};
  border-radius: 4px;
  font-weight: normal;
  display:inline-flex;
  align-items: center;
  padding: 12px 20px;
  font-weight: bold;

  // primary
  &-primary {
    background-color: var(--bg);
    border-color: var(--bg);
    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(:disabled):active,
    &:not(:disabled):not(:disabled):active:focus {
      background-color: var(--bgHover);
      border-color: var(--bgHover);
      box-shadow: 0 0 0 0.2rem rgba(var(--bg), 0.5);
    }
  }

  &-secondary {
    background-color: $secondary;
    border-color: $secondary;
    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(:disabled):active,
    &:not(:disabled):not(:disabled):active:focus {
      background-color: darken($secondary, 5%);
      border-color: lighten($secondary, 10%);
      box-shadow: 0 0 0 0.2rem rgba($secondary, 0.5);
    }
  }

  &-outline-primary {
    border-color:$primary;
    color:$primary;
    &:hover {
      background-color:$primary;
    }
    &:focus {
      background-color:lighten($primary, 0.5);
      color:white;
    }
  }

  //default
  &-default {
    display:flex; 
    align-items: center;
 
  }
  
  &-lg {
    padding: 18px 36px;
  }

  &-link {
    padding: 0;

    align-items: center;
    line-height: 24px;
    color: $primary;
    display: inline-flex;
    .material-icons {
      // font-size: inherit;
      margin-left: 8px;
      text-decoration: none;
      transform: translateX(0);
      transition: all 0.3s;
    }
    &:hover {
      color: $primary;
      .material-icons {
        transform: translateX(15px);
      }
    }

    &:focus,
    &:hover:focus {
      outline: none;
      box-shadow: none;
      .material-icons {
        text-decoration: none;
      }
    }
  }
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  background-color: lighten($primary, 0.5);
  border-color: darken($primary, 0.5);
}
.btn-outline-primary:hover {
  border-color:$primary;
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
}

.btngroup {
  display:flex;
  .btn-readmore {
      flex: 1 1 auto;
  }
  .btn-download {
      flex:0 0 auto;
      margin-left:8px;
  }
}
/**
  *
  * * Form
  *
  */
.form-group {
  > label {
    text-transform: capitalize;
    font-weight: 600;
  }
}
.form-label {
  font-size: 18px;
  font-weight: 600;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
}
/**
   *
   * img
   *
   */

.img-fluid {
  &.img-rounded {
    border-radius: var(--radiius);
    margin-top: 0;
    transform: translateY(0);
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      margin-top: -5px;
      // transform:translateY(-15px);
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
    }
  }
}

.img-sticky {
  position: sticky;
  top: 100px;
}
.svg-curve {
  width: 100%;
  height: auto;
}
/*=============================================
=            navbar /header            =
=============================================*/
.navbar {
  background-color: #fff;

  &-brand {
    left: 0;
    position: relative;
    transition: all 0.3s;

    img {
      transition: all 0.3s;
      height: 50px;
      max-width:100%;
    }
  }

  .nav-link {
    padding: 6px 16px;
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: 600;
    &.active {
      color:$primary !important;
      box-shadow: inset 0 -4px $primary;
      background-color:rgba($primary, 0.05);
    }
  }

 
}
.navbar-expand-lg .navbar-nav .nav-link {
  @media (min-width: 992px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}
#header {
  position: sticky;
  top:0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  &.sticky {
    .navbar {
     
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      background-color: white;
 
      padding-top:8px;
      padding-bottom:8px;
 
    }
  }
}
.navbar-light .navbar-nav {
  
  .nav-item {
    &:not(:last-child) {
      @media (min-width: 992px) {
        margin-right: 16px;
      }
    }
    > .nav-link {
      text-transform: capitalize;
    }
    &:not(.nav-btn){
      .nav-link {
        color: var(--gray);
      }
      &:hover {
        .nav-link {
          color: var(--primary);
        }
      }
    }
 

  
    &.nav-btn {
      .nav-link {
        color:white;
      }
      @media (min-width: 992px) {
        margin-left:auto;
      }
    }
  }
}
.navbar-nav .nav-link {
  font-size: 18px;
}
.navbar-expand-lg .container {
  align-items: stretch; 
}
@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
  align-items: stretch; 
}
}

/*=============================================
=            hero             =
=============================================*/

.hero {
  --maxHeight: 600px; //700px
  // max-height: var(--maxHeight);
  min-height:  var(--maxHeight);
  display:flex;
  align-items: center;

  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-content {
    // max-width: 50rem; //600px
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 40px;
  }

  &-title,
  &-subtitle {
    color: white;
    text-align: center;
  }
  &-title {
    color: var(--white);
    font-weight: 800;
    font-size: 30px;
    line-height: normal;
    @media (min-width: 600px) {
      font-size: 3.125rem;
    }
  }

  &-subtitle {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: normal;
    color: var(--primary);
    font-weight: 600;
    @media (min-width: 600px) {
      font-size: 28px;
    }
  }

  &-excerpt {
    color: white;
    font-size: 16px;
    text-align: center;
    max-width: 800px;
    font-weight: 300;
    margin: 0 auto;
    @media (min-width: 600px) {
      font-size: 20px;
    }
  }
}

/*=============================================
=            section            =
=============================================*/

.section {
  position: relative;
  z-index: 1;
  padding: 80px 0;

  &[data-background] {
    background-color: var(--secondary);
    .section-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      object-fit: cover;
    }
  }

  &-header {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }
  // light
  &--light {
 background-color: #F4F4F4;
    // background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);  
  }

  &-title {
    text-align: center;
    color: var(--primary);
    margin-bottom: 0;
    font-weight: 600;
    font-size: 32px;
    @media (min-width: 600px) {
      font-size: 42px;
    }
  }
}

/*=============================================
=            card            =
=============================================*/

.card {
  --color: var(--gray-dark);
  border-radius: var(--radiius);
  // border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3) !important;
  }
  &-body {
    padding: 32px;
  }
  &.card--hovered:hover {
    .card-title:after {
      width: 100%;
    }
  }

  .card-title {
    font-weight: bold;
    position: relative;
    margin-bottom: 24px;
    color: var(--color);
    &:after {
      content: "";
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      width: 20%;
      height: 2px;
      transition: all 0.3s;
      background-color: var(--primary);
    }
  }

  .card-text {
    color: var(--color);
  }

  .icon {
    .material-icons {
      font-size: 50px;
      color: var(--primary);
    }
  }

  &--resources {

    --offset:100px;
    margin-top:calc(var(--offset) * 1.2);
    .card-body {
      padding:16px;
      .card-figure {
          position: relative;
          display: block;
     width: 90%;
     padding: 0;
     overflow: hidden;
     margin-top:calc(var(--offset) * -1);
     margin-left:auto;
     margin-right:auto;
     border-radius: 10px;
     &:before {
         padding-top:125%;
         content:" ";
         display: block
     }
     
     .card-img {
         position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: 0;
     object-fit:cover;
     }
          
      }
  }
  }
}
.date {
  display: flex;
  margin-bottom:16px;
  .material-icons {
      margin-right:8px;
  }
}

.news {
  border-bottom:1px solid #ccc;
}
 

  
/*=============================================
=            article            =
=============================================*/

.article {
  &-title {
    --theme: var(--gray-darkest);
    position: relative;
    margin-bottom: 2rem;
    font-size: 30px;
    color: var(--theme);
    font-weight: 600;
    // line-height: 1.25;
    @media (min-width: 768.1px) {
      max-width: 70%;
    }

    &:after {
      content: "";
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      width: 20%;
      height: 2px;
      transition: all 0.3s;
      background-color: var(--primary);
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
  &:not(.article--highlighted) .article-title {
    // --theme: var(--primary);
  }

  &--highlighted {
    --offset: 150px;
    --space: 32px;
    margin-top: var(--offset);
    padding: var(--space);
    background-color: white;
    border-radius: var(--radiius);
    @at-root .section--info & {
      --offset: 0;
    }

    img {
      margin-bottom: 2rem;
      border-radius: var(--radiius);
      margin-top: calc((var(--offset) * -1) - var(--space));
    }
  }
}
.section--info {
  position: relative;
 
}
.svg-curve {
  bottom:calc(100% - 2px);
  position: absolute;
  left:0;
  right:0;
}

.section--video {
  background-color: #499855;
}
/*=============================================
=            carousel            =
=============================================*/

.slick-carousel {
  &-item {
  }
}

.slick-dots {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;

  li {
    button {
      all: unset;
      margin: 5px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid white;
      text-indent: -9999px;
    }
    &.slick-active {
      button {
        background-color: white;
      }
    }
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  color: white;
  background-color: var(--primary);
  line-height: 1;
  border-radius: var(--radiius);
  cursor: pointer;

  &.slick-prev {
    left: 0;
    @media(min-width:992px){
      left: 16px;

    }
  }
  &.slick-next {
    left: auto;
    right: 0;
    @media(min-width:992px){
    right: 16px;
    }
  }

  .material-icons {
    font-size: 48px;
    line-height: 1;
  }
}
.card--blog {
  .card-img {
    @media(min-width:769px){
      position: absolute;
    }
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}

/*=============================================
=            footer            =
=============================================*/

.footer {

  margin-top: 24px;
  background:$secondary;
  position: relative;
  * {
    color:white;
  }

  a:hover, a:focus {
    color:white;
  }

  &-bottom {
    text-align: center;
  }
}

.footer-social-links {
  display: inline-flex;
  >li {
      margin:0 8px;
  }
  img {
      width:20px;
  }
}

.footer-bottom {
  padding:16px;
  background: darken($secondary, 5%);
  p:last-child {
    margin-bottom: 0;
  }


}

.footer {
  .widget-title {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 20px;
  }
  .menu {
      list-style: none;
      padding:0;
       columns: 2;
       
       li {
           margin-bottom: 6px;
       }
       
       
  }
  &-main {
      padding:20px 0;
  }
  
  .newsletter-form {
      display: flex;
      align-items: stretch;
      * {
           height: auto;
      }
      .btn {
          margin-left:8px;
      }
  }
}
