/*=============================================
=            Bootstrap Overriddes            =
=============================================*/
/**
 *
 * * Global overides
 *
 */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--gray-dark);
  line-height: 1.5;
  overflow-x: hidden;
}

blockquote {
  font-style: italic;
  line-height: 1.75;
  text-align: center;
}

/**
 *
 * custom scrollbar
 *
 */
html {
  --scrollbarBG: transparent;
  --thumbBG: #90a4ae;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/**
 *
 * * Colors
 *
 */
:root {
  --primary: #b40772;
  --secondary:#2E3192;
  --gray-darkest: #212529;
  --black: rgb(3, 3, 3);
  --radiius: 16px;
  --cardBG: #f0f0f0;
  --headingColor: #282931;
}

/**
 *
 * * Typography
 *
 */
a {
  color: #b40772;
}

a:hover, a:focus {
  color: #9b0662;
}

/**
 *
 ** Button
 *
 */
button:focus {
  outline: 5px auto #b40772;
}

.btn {
  --bg: #b40772;
  --bgHover: #9b0662;
  border-radius: 4px;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--bg);
  border-color: var(--bg);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:not(:disabled):not(:disabled):active, .btn-primary:not(:disabled):not(:disabled):active:focus {
  background-color: var(--bgHover);
  border-color: var(--bgHover);
  box-shadow: 0 0 0 0.2rem rgba(var(--bg), 0.5);
}

.btn-secondary {
  background-color: #2E3192;
  border-color: #2E3192;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:not(:disabled):not(:disabled):active, .btn-secondary:not(:disabled):not(:disabled):active:focus {
  background-color: #282a7f;
  border-color: #3a3eb9;
  box-shadow: 0 0 0 0.2rem rgba(46, 49, 146, 0.5);
}

.btn-outline-primary {
  border-color: #b40772;
  color: #b40772;
}

.btn-outline-primary:hover {
  background-color: #b40772;
}

.btn-outline-primary:focus {
  background-color: #b60774;
  color: white;
}

.btn-default {
  display: flex;
  align-items: center;
}

.btn-lg {
  padding: 18px 36px;
}

.btn-link {
  padding: 0;
  align-items: center;
  line-height: 24px;
  color: #b40772;
  display: inline-flex;
}

.btn-link .material-icons {
  margin-left: 8px;
  text-decoration: none;
  transform: translateX(0);
  transition: all 0.3s;
}

.btn-link:hover {
  color: #b40772;
}

.btn-link:hover .material-icons {
  transform: translateX(15px);
}

.btn-link:focus, .btn-link:hover:focus {
  outline: none;
  box-shadow: none;
}

.btn-link:focus .material-icons, .btn-link:hover:focus .material-icons {
  text-decoration: none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  background-color: #b60774;
  border-color: #b20770;
}

.btn-outline-primary:hover {
  border-color: #b40772;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(180, 7, 114, 0.5);
}

.btngroup {
  margin: -4px;
}

.btngroup > .btn {
  margin: 4px;
}

.btngroup .btn-download .material-icons {
  margin-right: 8px;
}

/**
  *
  * * Form
  *
  */
.form-group > label {
  text-transform: capitalize;
  font-weight: 600;
}

.form-label {
  font-size: 18px;
  font-weight: 600;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(180, 7, 114, 0.25);
}

/**
   *
   * img
   *
   */
.img-fluid.img-rounded {
  border-radius: var(--radiius);
  margin-top: 0;
  transform: translateY(0);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.img-fluid.img-rounded:hover {
  margin-top: -5px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

.img-sticky {
  position: sticky;
  top: 100px;
}

.svg-curve {
  width: 100%;
  height: auto;
}

/*=============================================
=            navbar /header            =
=============================================*/
.navbar {
  background-color: #fff;
}

.navbar-brand {
  left: 0;
  position: relative;
  transition: all 0.3s;
}

.navbar-brand img {
  transition: all 0.3s;
  height: 50px;
  max-width: 100%;
}

.navbar .nav-link {
  padding: 6px 16px;
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: 600;
}

.navbar .nav-link.active {
  color: #b40772 !important;
  box-shadow: inset 0 -4px #b40772;
  background-color: rgba(180, 7, 114, 0.05);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
}

#header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#header.sticky .navbar {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-item:not(:last-child) {
    margin-right: 16px;
  }
}

.navbar-light .navbar-nav .nav-item > .nav-link {
  text-transform: capitalize;
}

.navbar-light .navbar-nav .nav-item:not(.nav-btn) .nav-link {
  color: var(--gray);
}

.navbar-light .navbar-nav .nav-item:not(.nav-btn):hover .nav-link {
  color: var(--primary);
}

.navbar-light .navbar-nav .nav-item.nav-btn .nav-link {
  color: white;
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-item.nav-btn {
    margin-left: auto;
  }
}

.navbar-nav .nav-link {
  font-size: 18px;
}

.navbar-expand-lg .container {
  align-items: stretch;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    align-items: stretch;
  }
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-item.dropdown:hover .dropdown-menu, .navbar-light .navbar-nav .nav-item.dropdown.show .dropdown-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.navbar-light .navbar-nav .dropdown-menu {
  border: none;
  padding: 0;
  margin-bottom: 16px;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .dropdown-menu {
    display: block;
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
  }
}

.navbar-light .navbar-nav .dropdown-menu .dropdown-item {
  text-transform: capitalize;
  padding: 0.5rem 1.5rem;
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-item:not(:last-child) {
    margin-right: 16px;
  }
}

.navbar-light .navbar-nav .nav-item > .nav-link {
  text-transform: capitalize;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: var(--gray);
}

.navbar-light .navbar-nav .nav-item:hover .nav-link {
  color: var(--red);
}

.navbar-light .navbar-nav .nav-item.show .nav-link {
  color: var(--red);
}

.navbar-nav .nav-link {
  font-size: 18px;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle:after {
  transform: rotate(0deg);
  font-family: "Material Icons";
  content: "\e313";
  border: none;
  transition: all 0.3s;
  margin-right: -14px;
}

.dropdown.show .dropdown-toggle:after {
  transform: rotate(180deg);
}

.dropdown:hover .dropdown-toggle:after {
  transform: rotate(180deg);
}

/*=============================================
=            hero             =
=============================================*/
.hero {
  --maxHeight: 600px;
  min-height: var(--maxHeight);
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

.hero > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.hero-title, .hero-subtitle {
  color: white;
  text-align: center;
}

.hero-title {
  color: var(--white);
  font-weight: 800;
  font-size: 30px;
  line-height: normal;
}

@media (min-width: 600px) {
  .hero-title {
    font-size: 3.125rem;
  }
}

.hero-subtitle {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: normal;
  color: var(--primary);
  font-weight: 600;
}

@media (min-width: 600px) {
  .hero-subtitle {
    font-size: 28px;
  }
}

.hero-excerpt {
  color: white;
  font-size: 16px;
  text-align: center;
  max-width: 800px;
  font-weight: 300;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .hero-excerpt {
    font-size: 20px;
  }
}

/*=============================================
=            section            =
=============================================*/
.section {
  position: relative;
  z-index: 1;
  padding: 80px 0;
}

.section[data-background] {
  background-color: var(--secondary);
}

.section[data-background] .section-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  object-fit: cover;
}

.section-header {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.section--light {
  background-color: #F4F4F4;
}

.section-title {
  text-align: center;
  color: var(--primary);
  margin-bottom: 0;
  font-weight: 600;
  font-size: 32px;
}

@media (min-width: 600px) {
  .section-title {
    font-size: 42px;
  }
}

/*=============================================
=            card            =
=============================================*/
.card {
  --color: var(--gray-dark);
  border-radius: var(--radiius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition-duration: 1000ms !important;
}

.card:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3) !important;
}

.card-body {
  padding: 32px;
}

.card.card--hovered:hover .card-title:after {
  width: 100%;
}

.card .card-title {
  font-weight: bold;
  position: relative;
  margin-bottom: 24px;
  color: var(--color);
}

.card .card-title:after {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 20%;
  height: 2px;
  transition: all 0.3s;
  background-color: var(--primary);
}

.card .card-text {
  color: var(--color);
}

.card .icon .material-icons {
  font-size: 50px;
  color: var(--primary);
}

.card--resources {
  --offset:100px;
  margin-top: calc(var(--offset) * 1.2);
}

.card--resources .card-body {
  padding: 16px;
}

.card--resources .card-body .card-figure {
  position: relative;
  display: block;
  width: 90%;
  padding: 0;
  overflow: hidden;
  margin-top: calc(var(--offset) * -1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.card--resources .card-body .card-figure:before {
  padding-top: 125%;
  content: " ";
  display: block;
}

.card--resources .card-body .card-figure .card-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  object-fit: cover;
}

.date {
  display: flex;
  margin-bottom: 16px;
}

.date .material-icons {
  margin-right: 8px;
}

.news {
  border-bottom: 1px solid #ccc;
}

/*=============================================
=            article            =
=============================================*/
.article-title {
  --theme: var(--gray-darkest);
  position: relative;
  margin-bottom: 2rem;
  font-size: 30px;
  color: var(--theme);
  font-weight: 600;
}

@media (min-width: 768.1px) {
  .article-title {
    max-width: 70%;
  }
}

.article-title:after {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 20%;
  height: 2px;
  transition: all 0.3s;
  background-color: var(--primary);
}

.article p:last-child {
  margin-bottom: 0;
}

.article--highlighted {
  --offset: 150px;
  --space: 32px;
  margin-top: var(--offset);
  padding: var(--space);
  background-color: white;
  border-radius: var(--radiius);
}

.section--info .article--highlighted {
  --offset: 0;
}

.article--highlighted img {
  margin-bottom: 2rem;
  border-radius: var(--radiius);
  margin-top: calc((var(--offset) * -1) - var(--space));
}

.section--info {
  position: relative;
  padding-top: 0;
}

.svg-curve {
  bottom: calc(100% - 2px);
  position: absolute;
  left: 0;
  right: 0;
}

.section--video {
  background-color: #499855;
  padding-bottom: 60px;
}

@media (min-width: 992px) {
  .section--video {
    padding-bottom: 150px;
  }
}

/*=============================================
=            carousel            =
=============================================*/
.slick-dots {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.slick-dots li button {
  all: unset;
  margin: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: white;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  color: white;
  background-color: var(--primary);
  line-height: 1;
  border-radius: var(--radiius);
  cursor: pointer;
}

.slick-arrow.slick-prev {
  left: 0;
}

@media (min-width: 992px) {
  .slick-arrow.slick-prev {
    left: 16px;
  }
}

.slick-arrow.slick-next {
  left: auto;
  right: 0;
}

@media (min-width: 992px) {
  .slick-arrow.slick-next {
    right: 16px;
  }
}

.slick-arrow .material-icons {
  font-size: 48px;
  line-height: 1;
}

.card--blog {
  overflow: hidden;
}

.card--blog .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 769px) {
  .card--blog .card-img {
    position: absolute;
  }
}

/*=============================================
=            footer            =
=============================================*/
.footer {
  margin-top: 24px;
  background: #2E3192;
  position: relative;
}

.footer * {
  color: white;
}

.footer a:hover, .footer a:focus {
  color: white;
}

.footer-bottom {
  text-align: center;
}

.footer-social-links {
  display: inline-flex;
}

.footer-social-links > li {
  margin: 0 8px;
}

.footer-social-links img {
  width: 20px;
}

.footer-bottom {
  padding: 16px;
  background: #282a7f;
}

.footer-bottom p:last-child {
  margin-bottom: 0;
}

.footer .widget-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
}

.footer .menu {
  list-style: none;
  padding: 0;
  columns: 2;
}

.footer .menu li {
  margin-bottom: 6px;
}

.footer-main {
  padding: 20px 0;
}

.footer .newsletter-form {
  display: flex;
  align-items: stretch;
}

.footer .newsletter-form * {
  height: auto;
}

.footer .newsletter-form .btn {
  margin-left: 8px;
}
/*# sourceMappingURL=app.css.map */