/*=============================================
=            Bootstrap Overriddes            =
=============================================*/
/**
 *
 * * Global overides
 *
 */
body {
  font-family: "Montserrat", sans-serif;
  color: var(--gray-dark);
  line-height: 1.5;
  overflow-x: hidden;
}

blockquote {
  font-style: italic;
  line-height: 1.75;
  text-align: center;
}

/**
 *
 * custom scrollbar
 *
 */
html {
  --scrollbarBG: transparent;
  --thumbBG: #90a4ae;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/**
 *
 * * Colors
 *
 */
:root {
  --primary: #ec3732;
  --gray-darkest: #212529;
  --black: #000;
  --radiius: 16px;
  --cardBG: #f0f0f0;
}

/**
 *
 * * Typography
 *
 */
/**
 *
 ** Button
 *
 */
.btn {
  --bg: #ec3732;
  --bgHover: #bb1611;
  border-radius: 100px;
  font-weight: normal;
}

.btn-primary {
  background-color: var(--bg);
  border-color: var(--bg);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:not(:disabled):not(:disabled):active, .btn-primary:not(:disabled):not(:disabled):active:focus {
  background-color: var(--bgHover);
  border-color: var(--bgHover);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(var(--bg), 0.5);
          box-shadow: 0 0 0 0.2rem rgba(var(--bg), 0.5);
}

.btn-lg {
  padding: 18px 36px;
}

/**
  *
  * * Form
  *
  */
.form-group > label {
  text-transform: capitalize;
  font-weight: 600;
}

.form-label {
  font-size: 18px;
  font-weight: 600;
}

/**
   *
   * img
   *
   */
.img-fluid.img-rounded {
  border-radius: var(--radiius);
  margin-top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.img-fluid.img-rounded:hover {
  margin-top: -5px;
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

.img-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

/*=============================================
=            navbar /header            =
=============================================*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 20px 1rem;
}

.navbar-brand {
  left: 0;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-brand img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header.sticky .navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding-top: 8px;
  padding-bottom: 8px;
}

#header.sticky .navbar-brand {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#header.sticky .navbar-brand img {
  width: 80px;
}

/*=============================================
=            hero             =
=============================================*/
.hero {
  --maxHeight: 43.75rem;
  height: 100vh;
}

.hero > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-title, .hero-subtitle {
  color: white;
  text-align: center;
}

.hero-title {
  color: var(--white);
  font-weight: 800;
  font-size: 30px;
  line-height: normal;
}

@media (min-width: 600px) {
  .hero-title {
    font-size: 3.125rem;
  }
}

.hero-subtitle {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: normal;
  color: var(--primary);
  font-weight: 600;
}

@media (min-width: 600px) {
  .hero-subtitle {
    font-size: 28px;
  }
}

.hero-excerpt {
  color: white;
  font-size: 16px;
  text-align: center;
  max-width: 800px;
  font-weight: 300;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .hero-excerpt {
    font-size: 20px;
  }
}

/*=============================================
=            section            =
=============================================*/
.section {
  position: relative;
  z-index: 1;
  padding: 80px 0;
}

.section[data-background] {
  background-color: var(--black);
}

.section[data-background] .section-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-header {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.section--light {
  background-color: #fff;
}

.section-title {
  text-align: center;
  color: var(--primary);
  margin-bottom: 0;
  font-weight: 600;
  font-size: 32px;
}

@media (min-width: 600px) {
  .section-title {
    font-size: 42px;
  }
}

/*=============================================
=            card            =
=============================================*/
.card {
  --color: var(--gray-dark);
  border-radius: var(--radiius);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3) !important;
}

.card-body {
  padding: 32px;
}

.card.card--hovered:hover .card-title:after {
  width: 100%;
}

.card .card-title {
  font-weight: bold;
  position: relative;
  margin-bottom: 24px;
  color: var(--color);
}

.card .card-title:after {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 20%;
  height: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: var(--primary);
}

.card .card-text {
  color: var(--color);
}

.card .icon .material-icons {
  font-size: 50px;
  color: var(--primary);
}

/*=============================================
=            Webinaar countdown            =
=============================================*/
.section--primary {
  background-color: var(--primary);
  padding: 40px 0;
}

.section--primary .section-title {
  text-transform: uppercase;
  font-size: 24px;
  color: white;
}

@media (min-width: 600px) {
  .section--primary .section-title {
    font-size: 28px;
  }
}

.section--primary .countDown * {
  color: white;
}

.section--primary .countDown-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section--primary .countDown-wrap > * {
  margin: 0 30px;
}

.section--primary .countDown-wrap .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*=============================================
=            avatar            =
=============================================*/
.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}

.avatar-image {
  border: 4px solid #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  width: var(--offset);
  height: var(--offset);
}

.avatar-meta {
  margin-top: 16px;
}

.avatar-title {
  font-weight: 600;
}

/*=============================================
=            testimonials            =
=============================================*/
.card--testimonials {
  --offset: 100px;
  margin-top: 50px;
}

@media (min-width: 600px) {
  .card--testimonials {
    margin-top: var(--offset);
  }
}

.card--testimonials .avatar {
  margin-top: calc((var(--offset) * -1) + 20px);
  position: relative;
}

.card--testimonials .avatar:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 50px;
  height: 2px;
  background-color: var(--gray);
}

.card--testimonials blockquote {
  max-height: 300px;
  overflow-y: auto;
}

/*=============================================
=            article            =
=============================================*/
.article-title {
  --theme: var(--gray-darkest);
  position: relative;
  margin-bottom: 2rem;
  font-size: 30px;
  color: var(--theme);
  font-weight: 600;
}

@media (min-width: 768.1px) {
  .article-title {
    max-width: 70%;
  }
}

.article-title:after {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 20%;
  height: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: var(--primary);
}

.article p:last-child {
  margin-bottom: 0;
}

.article--highlighted {
  --offset: 150px;
  --space: 32px;
  margin-top: var(--offset);
  padding: var(--space);
  background-color: var(--cardBG);
  border-radius: var(--radiius);
}

.section--author .article--highlighted {
  --offset: 0;
}

.article--highlighted img {
  margin-bottom: 2rem;
  border-radius: var(--radiius);
  margin-top: calc((var(--offset) * -1) - var(--space));
}

/*=============================================
=            carousel            =
=============================================*/
.slick-carousel-item {
  padding: 10px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 993px) {
  .slick-carousel-item {
    -webkit-transform: scale(1);
            transform: scale(1);
    padding: 20px;
  }
}

.slick-carousel-item .card {
  background-color: #f4f4f4;
}

.slick-carousel-item.slick-center {
  z-index: 100;
  position: relative;
}

@media (min-width: 993px) {
  .slick-carousel-item.slick-center {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.slick-carousel-item.slick-center .card {
  background-color: #fff;
}

@media (min-width: 993px) {
  .slick-carousel .slick-track {
    padding-bottom: 50px;
  }
}

.slick-carousel .slick-list {
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  .slick-carousel .slick-list {
    padding: 20px;
  }
}

@media (max-width: 768) {
  .slick-carousel .slick-list {
    padding: 0;
  }
}

.slick-dots {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.slick-dots li button {
  all: unset;
  margin: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: white;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  background-color: var(--primary);
  line-height: 1;
  border-radius: var(--radiius);
  cursor: pointer;
}

.slick-arrow.slick-prev {
  left: -16px;
}

.slick-arrow.slick-next {
  left: auto;
  right: -16px;
}

.slick-arrow .material-icons {
  font-size: 48px;
  line-height: 1;
}

/*=============================================
=            author section            =
=============================================*/
.section--author {
  background: var(--cardBG);
}

@media (min-width: 992px) {
  .section--author.section--has-offSet-image {
    --offset-size: 100px;
    position: static;
    margin-top: calc(var(--offset-size));
    margin-bottom: calc(var(--offset-size));
  }
  .section--author.section--has-offSet-image .offset-image {
    margin-top: calc(var(--offset-size) * -1);
    margin-bottom: calc(var(--offset-size) * -1);
    position: relative;
    z-index: 10;
  }
}

.section--author img {
  position: relative;
  z-index: 1;
  margin-top: 0;
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3) !important;
}

.section--author img:hover {
  margin-top: 0 !important;
}

/*=============================================
=            cta block            =
=============================================*/
.card--cta {
  max-width: 900px;
  margin: 0 auto;
}

.card--cta .card-header {
  background: transparent;
  padding: 0;
  margin-bottom: 16px;
  padding-bottom: 16px;
  text-align: center;
}

.card--cta .card-title {
  margin-bottom: 16px;
}

.card--cta .card-title:after {
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}

.card--cta .card-footer {
  background: transparent;
  padding: 0;
  padding-top: 16px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*=============================================
=            
Count down component            =
=============================================*/
.countDown {
  --space: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 calc(var(--space) * -1);
}

.countDown__block {
  padding: var(--space);
  text-align: center;
}

.countDown__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  font-size: 28px;
  color: var(--primary);
}

.countDown label {
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0;
  color: var(--primary);
}

/*=============================================
=            social members            =
=============================================*/
.section--social-platform {
  padding: 20px 0;
  background-color: #f0f0f0;
}

.section--social-platform .section-title {
  font-weight: 300;
  font-size: 28px;
  line-height: normal;
  color: var(--gray-dark);
  margin-bottom: 20px;
}

.grid-block {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 16px;
  -ms-grid-columns: (minmax(160px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.grid-block-item {
  -webkit-box-shadow: 1px 0 0 #979797;
          box-shadow: 1px 0 0 #979797;
  padding: 12px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-block-item img {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  margin-right: 24px;
}

.social-platform {
  padding: 8px;
}

/*=============================================
=            footer            =
=============================================*/
.footer {
  text-align: center;
  margin-top: 24px;
  color: white;
}
/*# sourceMappingURL=app.css.map */